<a href="https://colab.research.google.com/github/nitinpatil301a/Tensorflow-Keras-Work/blob/master/Bank_customer_churn_ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
%tensorflow_version 2.0.0
import tensorflow as tf
print(tf.__version__)
from tensorflow import keras
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

`%tensorflow_version` only switches the major version: 1.x or 2.x.
You set: `2.0.0`. This will be interpreted as: `2.x`.


TensorFlow 2.x selected.
2.1.0

In [24]:
data=pd.read_csv("Customer_Churn_Modelling.csv")
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [0]:
X=data.drop(["RowNumber","CustomerId","Surname","Exited"],axis=1)
y=data["Exited"]

In [26]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
X["Geography"]=le.fit_transform(X["Geography"])
X["Gender"]=le.fit_transform(X["Gender"])
X.head()

   CreditScore  Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619          0       0  ...          1               1        101348.88
1          608          2       0  ...          0               1        112542.58
2          502          0       0  ...          1               0        113931.57
3          699          0       0  ...          0               0         93826.63
4          850          2       0  ...          1               1         79084.10

[5 rows x 10 columns]

In [27]:
X=pd.get_dummies(X,drop_first=True,columns=["Geography"])
X.head()

   CreditScore  Gender  Age  ...  EstimatedSalary  Geography_1  Geography_2
0          619       0   42  ...        101348.88            0            0
1          608       0   41  ...        112542.58            0            1
2          502       0   42  ...        113931.57            0            0
3          699       0   39  ...         93826.63            0            0
4          850       0   43  ...         79084.10            0            1

[5 rows x 11 columns]

In [0]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
X=ss.fit_transform(X)

In [36]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.20,stratify=y)
X_train.shape,y_train.shape

((8000, 11), (8000,))

In [0]:
from tensorflow.keras.layers import Dense,Flatten,Dropout
from tensorflow.keras import Sequential

In [0]:
model=Sequential()
model.add(Dense(X_train.shape[0],activation="relu"))
model.add(Dense(128,activation="relu"))
model.add(Dropout(0.1))
model.add(Dense(128,activation="relu"))
model.add(Dropout(0.1))
model.add(Dense(1,activation="sigmoid"))

In [0]:
model.compile(optimizer="adam",loss="binary_crossentropy",metrics=["accuracy"])

In [45]:
history=model.fit(X_train,y_train.to_numpy(),epochs=10,batch_size=10,validation_split=0.1)

Train on 7200 samples, validate on 800 samples
Epoch 1/10
7200/7200 [==============================] - 6s 778us/sample - loss: 0.3200 - accuracy: 0.8694 - val_loss: 0.3448 - val_accuracy: 0.8562
Epoch 2/10
7200/7200 [==============================] - 6s 776us/sample - loss: 0.3145 - accuracy: 0.8739 - val_loss: 0.3518 - val_accuracy: 0.8687
Epoch 3/10
7200/7200 [==============================] - 6s 772us/sample - loss: 0.3121 - accuracy: 0.8712 - val_loss: 0.3408 - val_accuracy: 0.8650
Epoch 4/10
7200/7200 [==============================] - 6s 779us/sample - loss: 0.3069 - accuracy: 0.8739 - val_loss: 0.3388 - val_accuracy: 0.8587
Epoch 5/10
7200/7200 [==============================] - 6s 781us/sample - loss: 0.3037 - accuracy: 0.8757 - val_loss: 0.3415 - val_accuracy: 0.8662
Epoch 6/10
7200/7200 [==============================] - 6s 803us/sample - loss: 0.2979 - accuracy: 0.8804 - val_loss: 0.3373 - val_accuracy: 0.8700
Epoch 7/10
7200/7200 [==============================] - 6s 771us/sample - loss: 0.2973 - accuracy: 0.8783 - val_loss: 0.3430 - val_accuracy: 0.8637
Epoch 8/10
7200/7200 [==============================] - 6s 782us/sample - loss: 0.2938 - accuracy: 0.8825 - val_loss: 0.3549 - val_accuracy: 0.8625
Epoch 9/10
7200/7200 [==============================] - 6s 775us/sample - loss: 0.2846 - accuracy: 0.8824 - val_loss: 0.3648 - val_accuracy: 0.8650
Epoch 10/10
7200/7200 [==============================] - 6s 769us/sample - loss: 0.2889 - accuracy: 0.8824 - val_loss: 0.3721 - val_accuracy: 0.8637

In [47]:
model.evaluate(X_test,y_test.to_numpy())

2000/2000 [==============================] - 0s 128us/sample - loss: 0.3959 - accuracy: 0.8575

[0.39586208724975586, 0.8575]